# Stellar Network Configuration
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org

# Soroban Smart Contract Address
NEXT_PUBLIC_CONTRACT_ID=CCGREENLEDGER9999999999999999999999999999999999999999

# Deployer Private Key (For running scripts/deploy.ts)
DEPLOYER_SECRET_KEY=
